name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        free-solid-svg-icons: [
          5.x,
          6.x
        ]
        fontawesome-svg-core: [
          1.2.x,
          6.x
        ]
        node-version: [
          14.x,
          16.x,
          18.x
        ]
        vue: [
          2.4.x,
          2.5.x,
          2.6.x
        ]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install, build, and test
      if: ${{ matrix.free-solid-svg-icons }} == '6.x'
      run: |
        npm install -g npm
        npm install
        npm install --no-save @fortawesome/fontawesome-svg-core@${{ matrix.fontawesome-svg-core }} @fortawesome/free-solid-svg-icons@${{ matrix.free-solid-svg-icons }} vue@${{ matrix.vue }}
        npm run build
        npm list vue
        npm run test
      env:
        CI: true
        FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}
    - name: dist
      run: |
        npm run dist
