name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fontawesome-svc-core: [
          1.2.x,
          6.x
        ]
        node-version: [
          14.x,
          16.x,
          18.x
        ]
        vue: [
          3.0.x,
          3.1.x,
          3.2.x
        ]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install, build, and test
      run: |
        npm install -g npm
        npm install
        npm install --no-save @fortawesome/fontawesome-svg-core@${{ matrix.fontawesome-svg-core }} vue@${{ matrix.vue }}
        npm run build
        npm install --no-save vue@${{ matrix.vue }}
        npm list vue
        npm run test.5
        npm run test.6
      env:
        CI: true
    - name: dist
      run: |
        npm run dist
